:root {
  --main-bg-color: rgb(245, 245, 245);
  --main-highlight-color: rgb(255, 255, 255);
}

html {
  height: 100%;
}
body {
  height: 100%;
}
main.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
  height: 100%;
}
.box {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 20px;
  min-width: 50%;
  max-width: 80%;
}
main > .box {
  background-color: #fff;
  position: relative;
  width: 100%;
}

.box-main {
  height: 75%;
  color: green !important;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}
.box-top {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
button {
  background: #efefef;
  border: none;
  padding: 0.5rem;
  border-radius: 0.2rem;
  /* color: #444; */
  font-size: 0.75rem;
  /* letter-spacing: 0.02rem; */
  text-align: center;
  outline: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  box-shadow: -6px -6px 14px rgba(245, 245, 245, 0.7),
    -6px -6px 10px rgba(245, 245, 245, 0.5),
    6px 6px 8px rgba(245, 245, 245, 0.075), 6px 6px 10px rgba(0, 0, 0, 0.15);
}
.box-top > button:nth-child(2) {
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.box-top > button:last-child {
  margin-left: 0.5em;
}
button:hover {
  box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.6),
    -2px -2px 4px rgba(255, 255, 255, 0.4),
    2px 2px 2px rgba(255, 255, 255, 0.05), 2px 2px 4px rgba(0, 0, 0, 0.1);
}
button:active {
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.7),
    inset -2px -2px 4px rgba(255, 255, 255, 0.5),
    inset 2px 2px 2px rgba(255, 255, 255, 0.075),
    inset 2px 2px 4px rgba(0, 0, 0, 0.15);
}
.bars-container {
  justify-content: center;
  border-bottom: #8f4545;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  width: 90%;
  display: flex;
  padding-bottom: 0.125em;
  align-items: baseline;
}
.bar {
  height: 150px;
  width: 20px;
  background-color: #8f4545;
  margin: 0;
  border-right: #f5f5f5;
  border-right-style: solid;
  border-right-width: 0.5px;
  flex: 1;
}

.bar.selected {
  background-color: green;
}

.box-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 0.5em;
}
.inactive {
  color: #8f4545;
  background-color: #f5f5f5;
  display: none !important;
}

.range {
  -webkit-appearance: none;
  vertical-align: middle;
  outline: none;
  border: none;
  padding: 0;
  background: none;
}

.range::-webkit-slider-runnable-track {
  background-color: #d7dbdd;
  height: 6px;
  border-radius: 3px;
  border: 1px solid transparent;
}

.range[disabled]::-webkit-slider-runnable-track {
  border: 1px solid #d7dbdd;
  background-color: transparent;
  opacity: 0.4;
}

.range::-moz-range-track {
  background-color: #d7dbdd;
  height: 6px;
  border-radius: 3px;
  border: none;
}

.range::-ms-track {
  color: transparent;
  border: none;
  background: none;
  height: 6px;
}

.range::-ms-fill-lower {
  background-color: #d7dbdd;
  border-radius: 3px;
}

.range::-ms-fill-upper {
  background-color: #d7dbdd;
  border-radius: 3px;
}

.range::-ms-tooltip {
  display: none; /* display and visibility only */
}

.range::-moz-range-thumb {
  border-radius: 20px;
  height: 18px;
  width: 18px;
  border: none;
  background: none;
  background-color: #606670;
}

.range:active::-moz-range-thumb {
  outline: none;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  border-radius: 100%;
  background-color: #606670;
  height: 18px;
  width: 18px;
  margin-top: -7px;
}

.range[disabled]::-webkit-slider-thumb {
  background-color: transparent;
  border: 1px solid #d7dbdd;
}

.range:active::-webkit-slider-thumb {
  outline: none;
}

.range::-ms-thumb {
  border-radius: 100%;
  background-color: #606670;
  height: 18px;
  width: 18px;
  border: none;
}

.range:active::-ms-thumb {
  border: none;
}

output {
  border: 1px solid #d7dbdd;
  color: #333;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  padding: 0.4em 0.6em;
  border-radius: 3px;
}
